/**********************************
 * Förklaringar av använda CSS-operationer
 **********************************

font-size: Bestämmer hur stor texten ska vara.
font-family: Anger vilken typsnittsstil som ska användas för texten.
font-weight: Bestämmer hur tjock eller fet texten är.
color: Anger färgen på texten.
background-color: Definierar färgen på en elements bakgrund.
margin: Skapar utrymme utanför elementets kant.
padding: Skapar utrymme innanför elementets kant.
display: Bestämmer hur ett element visas (t.ex. block, inline, flex).
flex-direction: Definierar riktningen för objekt i en flex-behållare (t.ex. rad, kolumn).
justify-content: Justerar objekt horisontellt i en flex-behållare.
align-items: Justerar objekt vertikalt i en flex-behållare.
position: Anger hur ett element är placerat (t.ex. relativt, absolut, fast).
top/left/right/bottom: Anger positionens avstånd från respektive kant.
z-index: Kontrollerar ordningen för överlappande element.
border: Lägger till en kant runt elementet och anger dess stil, bredd och färg.
border-radius: Rundar av hörnen på ett element.
width/height: Anger storleken på ett element.
transition: Lägger till mjuka animationer för ändringar av egenskaper (t.ex. färg, storlek).
cursor: Ändrar muspekaren när den svävar över ett element.
box-shadow: Lägger till skuggeffekter på element.
list-style: Definierar utseendet på listobjekt (t.ex. inga, punkter).
user-select: Kontrollerar om användare kan markera text eller element.
text-align: Justerar text horisontellt inom sin behållare.
grid-template-columns: Anger kolumnlayouten för en grid-behållare.
gap: Anger avståndet mellan grid-objekt.

**********************************/

/**********************************
 * Dessa kommentarer används för att visa en huvuddel
 **********************************/

/* Dessa kommentarer används för att visa en del inom en huvuddel */

/**********************************
 * Font och generellt
 **********************************/

 @font-face {
  font-family: 'SF Pro Display';
  src: url('fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #181A1B;
  color: #ffffff;
  font-family: 'SF Pro Display';
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  height: 93.205vh;
  margin-top: 3.818rem;
}

/**********************************
 * Startup
 **********************************/

.background-video-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

.content-overlay {
  position: relative;
  z-index: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white; 
  text-align: center;
}

/**********************************
 * Navbaren (Hela baren på toppen)
 **********************************/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181A1B;
  padding: 0.35rem 1.5rem;
  position: fixed;
  top: 0;
  float:left;
  width: 100%;
  height: 3.14rem;
  z-index: 20;
  margin-left: -1rem;
}

 /* Logga (Högst upp till vänster)*/

 .user-icon,
 .logo .icon {
   height: 1.5rem;
   width: 1.5rem;
   margin-right: 0.5rem;
   margin-top: 0rem;
 }
 
 .logo {
   display: flex;
   align-items: center;
 }
 
 .title {
   font-size: 1.25rem;
   margin-top: 0rem;
   font-weight: 0;
   user-select: none;
 }

/* Profil (Högst upp till höger)*/

.icon-container {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background: #9f7aea;
  border-radius: 9999px;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-right: 30px;
  margin-top: 0rem;
  user-select: none;
}

.icon-container2 {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background: #9f7aea;
  border-radius: 9999px;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-right: 14px;
  margin-top: 0rem;
  user-select: none;
}

.icon-container2:hover {
  background-color: #8c5ce9;
  transform: scale(1.05);
}

.icon-container-start-page {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background: #9f7aea;
  border-radius: 9999px;
  border: none;
  padding: 0.5rem 5rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-right: 0px;
  margin-top: 10px;
  user-select: none;
}

.icon-container:hover {
  background-color: #8c5ce9;
  transform: scale(1.05);
}

.icon-container-start-page:hover {
  background-color: #8c5ce9;
  transform: scale(1.05);
}

/**********************************
 * Karta och sök
 **********************************/
 
#map { 
  width: 100%;
  height: 100.668%;
  z-index: 10;
}

.map-and-search {
  
  position: relative;
  width: 100%;
  height: 100vh; 
}

.map-container {
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.search-container {
  
  position: absolute; 
  top: 10px;
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 10; 
  margin-top: -0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  width: 40%; 
  user-select: none;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.56rem 1rem 0.5rem;
  padding-right: 3rem;
  border-radius: 9999px;
  background-color: #1e2021;
  color: #ffffff;
  font-size: 1rem;
  user-select: none;
  border-color: #1e2021;
}

.search-input::placeholder {
  color: #a0aec0;
}

.searchButton {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.searchButton img {
  width: 40px;
  height: 25px;
  pointer-events: none;
  user-select: none;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
  
/**********************************
 * Sidofält
 **********************************/
.sidebar {
  width: 24rem;
  background-color: #181A1B;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  height: 98.48%;
  overflow-x: hidden;
  overflow-y: auto;
  
  padding: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
/* Gruppmedlemmar*/
.group-members {
  font-size: 1.5rem;
  margin-top: -3rem;
  padding: 1.5rem;
  user-select: none;
}

.heading {
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.group-pins-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  user-select: none;
}
.group-pins-text {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 0.1rem;
  margin-right: 1rem;
}

.member-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.member-item, .member-item-title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #ffffff;
  cursor: pointer;
}

.member-item:hover {
  color: #4499d1;
}

.member-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

/* Kick knapp */

.kick-button {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
}

.kick-button:hover {
  background-color: darkred;
}

/* Lämna grupp */
.group-button {
  border: 1px solid #4a5568;
  font-size: 1.2rem;
  width: 100%;
  height: 40px;
  background-color: #1E2021;
  color: #ffffff;
  border-radius: 9999px;
  box-sizing: border-box;
  cursor: pointer;
}

.group-button:hover {
  background-color: #9f7aea;
}

/* Divider */

.divider {
  border: none;
  border-top: 2px solid #41474b; 
  margin: 1rem auto 0 auto; 
  width: 100%; 
  user-select: none;
}

/* Dropdown */

.dropdown-container {
  user-select: none;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: -0.5rem;
}

.dropdown {
  width: 90%;
  box-sizing: border-box;
  padding: 0.56rem 1rem 0.5rem;
  background-color: #1E2021;
  border: 1px solid #4a5568;
  color: #a0aec0; 
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 18px;
}

.dropdown-title {
  color: #a0aec0;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  height: 30%;
  margin-top: -15px;
}

.dropdownLabel{
  color: #a0aec0;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  height: 30%;
  margin-top: -15px;
}

.custom-dropdown {
  background-color: #181A1B; 
  color: #fff;
}

.custom-dropdown option {
  background-color: #181A1B; 
  color: #fff;  
}

/* Joina med key */

.join-input-container {
  user-select: none;
  position: relative;
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 0.5rem;
}

.join-input-wrapper {
  display: flex;
  align-items: center;
  width: 90%; 
  background-color: #1E2021;
  border: 1px solid #4a5568;
  box-sizing: border-box;
}

.join-input {
  flex-grow: 1;
  padding: 0.56rem 1rem 0.5rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  text-align: left;
}

.enter-group-button {
  padding: 0.56rem 1rem;
  background-color: #4a5568;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  white-space: nowrap;
}

.enter-group-button:hover {
  background-color: #2d3748;
}

.join-input-container.in-group .join-input-wrapper {
  margin-top: -20px;
  width: 90%; 
}

.no-saved-groups {
  margin-top: -17px;
}

/* Copy group key */

.copy-group-key-button {
  width: 90%;
  padding: 0.56rem 1rem 0.5rem;
  background-color: #1E2021;
  border: 1px solid #4a5568;
  color: #a0aec0;
  font-size: 1rem;
  display: block;
  margin: 0.5rem auto 0; /* Default margin */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.copy-group-key-button.move-up {
  margin-top: -0.1rem; /* Move the button upwards */
}

.copy-group-key-button:hover {
  background-color: #8c5ce9;
  color: #ffffff;
}

/* Create own group key */

.create-group-container {
  user-select: none;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
}

.create-group-container.no-saved-groups {
  margin-top: 6px; 
}

.create-group-button {
  width: 90%;
  padding: 0.56rem 1rem 0.5rem;
  background-color: #1E2021;
  border: 1px solid #4a5568;
  color: #a0aec0;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.create-group-button:hover {
  background-color: #8c5ce9;
  color: #ffffff;
}

/* Pinnade ställen */

.place-row {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 1px auto;
  margin-top: 15px;
  margin-bottom: -8px;
  width: 90%;
  color: white;
}

.closeSidebarButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1E2021;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  user-select: none;

}

.closeSidebarButton:hover {
  background-color: #8c5ce9;
}

.interest-button {
  background-color: #1E2021;
  width: 80%;
  border-radius: 9999px;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  display: block;
  margin: 0 auto;
}

.interest-button:hover {
  background-color: #8c5ce9;
}


.highlighted-places {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  margin-top:-20px;
  margin-left:20;
}


.place-icon {
  width: 32px;
  height: 32px;
  object-fit: contain; 
}

.place-name {
  flex-grow: 1;
  font-size: 16px;
  color: white;
}

.place-name:hover {
  color: #4499d1;
}

.remove-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 4px;
}

.remove-button:hover {
  color: red;
}

/* Details */

.detailsText {
  padding: 16px;
  font-family: Arial, sans-serif;
  margin-left: 20px;
}

#detailsText h2{
  margin-left: 20px;
  text-decoration: underline;
}

.place-image {
  width: 95%;
  height: auto;
  margin: 16px auto;
  display: block;
  margin-top: -10px;
}
.place-name-2 {
  width: 80%;
  height: auto;
  margin: 16px auto;
  display: block;
  margin-top: 20px;
}

.address,
.rating,
.price-level {
  margin: 8px 0;
  margin-left: 20px;
}

.opening-hours, .phone-number-details, .website-details {
  margin: 8px 0;
  margin-left: 20px;
  font-style: italic;
}
/* Travel Details */

.scrollablemaybe {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  max-height: 98.48%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 300px;
  margin-right: -10px;
}

.member-box {
  background-color: #1E2021;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  margin-right: -10px;
  margin-left: 5px;
  word-wrap: break-word;
  width: 96%;
  
}

.member-box:hover {
  background-color: #333333;
}

.direction-step {
  background-color: #000000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  word-wrap: break-word;
}

.summary {
  margin-top: 10px;
  word-wrap: break-word;
}

.leaveDirectionsButton {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select:  none;
}

.leaveDirectionsButton:hover {
  background-color: #666;
}

/**********************************
 * Gör sidan responsive
 **********************************/

@media (max-width: 1152px) {
  .sidebar {
    width: calc(100% - 20px);
    position: relative; 
    order: 1; 
    height: auto; 
    margin-top: 20px;
    height: calc(100% + 50px);
  }

  .main-container {
    flex-direction: column; 
  }

  .place-image {
    width: calc(100% - 40px);
    height: auto;
    margin: 16px auto;
    display: block;
    margin-top: -10px;
    margin-left: 20px;
  }
  .scrollablemaybe{
    width: calc(100% - 20px);
    height: 100%;
    max-height: 100%;
  }
  .member-box {
    margin-left: 10px;
    width: 300px;
    margin-right: 10px;
  }
  .member-box:not(:first-child) {
    margin-left: 10px;
  }
  .member-box:not(:last-child) {
    margin-right: 10px;
  }

  .travel-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
  .closeSidebarButton{
    margin-right: 20px;
  }
  .group-button {
    width: 94%;
    display: block;
    margin: 0 auto;
  }
  .divider {
    width: 95%; 
  }
}

@media (max-width: 550px) {
  .search-container {
    margin-top: 30px;
    width: 50%;
  }
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    height: 3,2rem;
  }

  .icon-container {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .icon-container2 {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}