@font-face {
  font-family: 'SF Pro Display';
  src: url('fonts/SF-Pro-Display-Regular.otf') format('opentype'); /* Reference the font file */
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1a202c;
  color: #ffffff;
  font-family: 'SF Pro Display';
  margin: 0;
  padding: 0;
}

  /* Style the profile icon */
  .icon-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background: none; /* Remove button background */
    border: none; /* Remove button border */
    padding: 0; /* Remove default button padding */
    cursor: pointer; /* Indicate interactivity */
    transition: color 0s ease, transform 0s ease; /* Smooth transitions */
    margin-right: 48px;
  }
  
  .icon-container:hover .profile-text {
    color: #664DFF; /* Change text color on hover */
  }
  
  .icon-container:hover .profile-icon {
    content: url('./images/PurpleUser.svg'); /* Swap the SVG image */
  }
  
  .profile-icon {
    width: 2rem; /* Adjust the size of the icon */
    height: 1.7rem;
    margin-top: 0.5rem;
    transition: transform 0.2s ease, content 0.2s ease; /* Smooth transitions */
  }
  
  .profile-text {
    display: block;
    margin-top: 0rem; /* Adjust space between the image and the text */
    font-size: 0.8rem; /* Adjust font size */
    color: #ffffff; /* Default text color */
    transition: color 0.1s ease; /* Smooth color transition */
  }
  
  
  .main-container {
    display: flex;
    height: 93.205vh;
    margin-top: 4.2rem; /* Add margin to account for the fixed navbar */
  }
  
  /* Left Section */
  .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181A1B;
    padding: 0.55rem 1.5rem;
    position: fixed; /* Make it stay at the top */
    top: 0;
    left: 0;
    width: 100%; /* Stretch across the viewport */
    z-index: 20; /* Ensure it appears above the sidebar */
  }
  .user-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
  }
  
  
  .logo {
    display: flex;
    align-items: center;
    
  }
  
  .logo .icon {
    height: 1.5rem;
    width: 1.5rem;
    color: #9f7aea;
    margin-right: 0.5rem;
  }

  
  
  .title {
    font-size: 1.25rem;
    font-weight: 0;
    user-select: none;
  }
  
  


  .search-bar {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    z-index: 10;
  }
  
  .search-input-container {
    position: relative;
    width: 100%;
  }
  
  .search-input {
    width: 100%;
    padding: 0.56rem 1rem 0.5rem 1rem; /* Adjust left padding to fit the text */
    padding-right: 2.5rem; /* Add padding to the right to fit the icon */
    border-radius: 9999px;
    background-image: url('./images/Search.svg');
    background-repeat: no-repeat;
    background-position: left 8.6rem center; /* Move SVG to the right */
    background-size: 32px 20px;
    background-color: #1E2021;
    border: 1px solid #4a5568;
    color: #ffffff;
    font-size: 1rem;
  }
  
  .search-input:not(:placeholder-shown) {
    background-image: none; /* Remove the SVG when text is entered */
  }
  
  .search-input::placeholder {
    color: #a0aec0;
  }
  
  
.map-section {
  position: relative;
  width: 100%;
  height: 100%;
}
  
.map-container {
  width: 100%;
  height: 100%;
}
  
  #map {
    width: 100%;
    height: 100%;
  }
  
  /* Right Section */
  .sidebar {
    width: 24rem;
    background-color: #181A1B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }
  
  
  .group-members {
    font-size: 1.5rem;
    margin-top: -3rem;
    padding: 1.5rem;
  }
  
  .heading {
    font-size: 2.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .member-list {
    
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .member-item {
    display: flex;
    align-items: center; /* Vertically center the text with the icon */
    margin-bottom: 1rem;
    color: #ffffff; /* Text color */
  }
  .member-icon {
    width: 1.5rem; /* Adjust the size of the icon */
    height: 1.5rem;
    margin-right: 1rem; /* Space between icon and text */
    vertical-align: middle; /* Align icon with text */
  }
  .member-item img {
    margin-right: 10px; /* Space between the icon and the name */
  } 
  .member-item span {
    display: inline-block;
    vertical-align: middle;
  }
  .group-button {
    margin-top: 0rem;
    user-select: none;
    font-size: 1.2rem;
    width: 100%;
    height: 15%;
    padding: 0.5rem;
    background-color: #1E2021;
    color: #ffffff;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
  }
  
  .group-button:hover {
    background-color: #9f7aea;
  }
  
  .categories {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .category-button {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #664DFF;
    background-color: #181728;
    border: none;
    cursor: pointer;
    height: 75px;
    width: 75px;
    border-radius: 15px;
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}

.category-button span {
  font-size: 1rem;
  display: flex;
  align-items: center;  /* Vertically centers the text */
  justify-content: center;  /* Ensures horizontal centering */
  height: 100%;  /* Make sure the span takes the full height of its parent */
}

.category-button:hover {
    color: white;
    background-color: #9f7aea;
}

  
  
  .map-and-search {
    position: relative;
    flex: 1;
  }